@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<div>
    <iframe src="@ViewData["widgetSrc"]" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
</div>
<div>
    <iframe src="https://embed.spotify.com/?uri=spotify%3Auser%3Aqlmhuge%3Aplaylist%3A6Df19VKaShrdWrAnHinwVO&theme=white&view=coverart" width="300" height="80" frameborder="0" allowtransparency="true"></iframe>
</div>