@{
    ViewData["Title"] = "MaiXIFY";
}

<h1 align="center">MaiXIFY</h1>

<h2>Welcome to the MaiXIFY web application! Here you can create mixed Spotify playlists based on different Spotify playlists.</h2>
<br />
Please select how do you want to add playlists:
<br />
<input id="playlistID" type="radio" name="mode" value="playlistID" onclick="playlistIDModeSelected()"> Paste Spotify playlist's ID
<input id="spotifyUser" type="radio" name="mode" value="spotifyUser" onclick="spotifyUserModeSelected()"> Select playlists from Spotify user profile<br>
<br />
<div id="formDiv">
    <div id="playlistForm" style="display:none">
        Playlist ID:<br>
        <input id="playlistIDInput" type="text" name="playlistIDInput" size="200" value="">
    </div>
    <div id="spotifyUserForm" style="display:none">
        Spotify user name:<br>
        <input id="spotifyUserInput" type="text" name="spotifyUserInput" size="100" value="">
        <button type="button" onclick="getPlaylists()">Get Playlists</button>
    </div>
</div>

<script>
    function playlistIDModeSelected() {
        $('#playlistForm').show();
        $('#spotifyUserForm').hide();
        $('#spotifyUserInput').val('');
    }

    function spotifyUserModeSelected() {
        $('#playlistForm').hide();
        $('#spotifyUserForm').show();
        $('#playlistIDInput').val('');
    }

    function getPlaylists() {
        var spotifyUserName = $('#spotifyUserInput').val();
        if (spotifyUserName.length <= 0) {
            alert('Please add a Spotify User name!')
        }
        else {
            window.location.href = "Home/SelectPlaylists?userId=" + spotifyUserName;
        }
    }
</script>