@{
    ViewData["Title"] = "MaiXIFY";
}

<h1 align="center"></h1>

<h2>Welcome to the MaiXIFY web application! Here you can create mixed Spotify playlists based on different Spotify playlists.</h2>
<br />
Please select how do you want to add playlists:
<br />
<input id="playlistID" type="radio" name="mode" value="playlistID" onclick="playlistIDModeSelected()"> Paste Spotify playlist's ID
<input id="spotifyUser" type="radio" name="mode" value="spotifyUser" onclick="spotifyUserModeSelected()"> Select playlists from Spotify user profile<br>
<br />
<div id="formDiv">
    <div id="playlistForm" style="display:none">
        Playlist ID:<br>
        <input id="playlistIDInput" type="text" name="playlistIDInput" size="200" value="">
    </div>
    <div id="spotifyUserForm" style="display:none">
        Spotify user name:<br>
        <input id="spotifyUserInput" type="text" name="spotifyUserInput" size="100" value="">
        <button type="button" onclick="getPlaylists()">Get Playlists</button>
        <hr>
        <br />
    </div>
</div>

<script src="/js/handlebars-v4.0.5.js"></script>

<script>

    var selectedPlaylists = new Array();
    var usersPlaylists;

    window.onload = function () {
        onLoadFunction();
    };

    function onLoadFunction() {
        $("#playlistID").prop("checked", false);
        $("#spotifyUser").prop("checked", false);
    }

    function playlistIDModeSelected() {
        $('#playlistForm').show();
        $('#spotifyUserForm').hide();
        $('#divForPlaylists').remove();
        $('#spotifyUserInput').val('');
    }

    function spotifyUserModeSelected() {
        $('#playlistForm').hide();
        $('#spotifyUserForm').show();
        $('#playlistIDInput').val('');
    }

    function selectUserPlaylist(id) {
        var playlist = { userId: "", playlistId: "" };
        playlist.userId = usersPlaylists[id].owner.id;
        playlist.playlistId = usersPlaylists[id].id;
        if (selectedPlaylistContainsPlaylist(playlist.playlistId) == false) {
            selectedPlaylists.push(playlist);
            document.getElementById(id).innerHTML = "Remove";
        }
        else {
            var index = selectedPlaylists.indexOf(playlist);
            selectedPlaylists.splice(index, 1);
            document.getElementById(id).innerHTML = "Add";
        }
    }

    function selectedPlaylistContainsPlaylist(id) {
        var contains = false;
        for (var i = 0; i < selectedPlaylists.length; i++) {
            if (selectedPlaylists[i].playlistId == id) {
                contains = true;
                break;
            }
        }
        return contains;
    }

    function getPlaylists() {
        var spotifyUserName = $('#spotifyUserInput').val();
        $('#divForPlaylists').remove();
        if (spotifyUserName.length <= 0) {
            alert('Please add a Spotify username!')
        }
        else {
            $.ajax({
                url: '@Url.Action("GetUserPlaylists")',
                data: { 'userId': spotifyUserName },
                type: "post",
                cache: false,
                success: function (playlists) {
                    usersPlaylists = playlists;
                    if (usersPlaylists.hasOwnProperty('errorCode') && usersPlaylists.errorCode == 404) {
                        alert('No such Spotify user!')
                        return;
                    }

                    var divForPlaylists = '<div id=' + "\"" + "divForPlaylists" + "\"" + "style=" + "\"" + "display:inline-block" + "\"" + ">";
                    $("#spotifyUserForm").append(divForPlaylists);
                    for (i = 0; i < usersPlaylists.length; i++) {
                        var src = "https://embed.spotify.com/?uri=" + usersPlaylists[i].uri;
                        var playlistElement = '<div ' + 'id=' + "\"" + "divForSinglePlaylists" + "\"" + "style=" + "\"" + "display:inline-block; width: 350px; height: 500px;" + "\"" + ">" + "<p>" + '<button type=' + "\"" + "button" + "\"" + 'id=' + "\"" + i + "\"" + " onclick=" + "\"" + "selectUserPlaylist(id)" + "\"" + '>Add</button>' + "<b>" + "  " + usersPlaylists[i].name + "</b>" + "</p>"
                                                + '<iframe src=' + "\"" + src + "\"" + 'width="300" height="380" frameborder="0" allowtransparency="true" id=' + "\"" + i + "\"" + ' onclick=' + "\"" + "selectUserPlaylist(id)" + "\"" + ' ></iframe>'  +
                                                "</div>";
                        $("#divForPlaylists").append(playlistElement);
                    }
                }
            });
        }
    }
</script>