@{
    ViewData["Title"] = "MaiXIFY";
}

<h1 align="center">MaiXIFY</h1>

<h2>Welcome to the MaiXIFY web application! Here you can create mixed Spotify playlists based on different Spotify playlists.</h2>
<br />
Please select how do you want to add playlists:
<br />
<input id="playlistID" type="radio" name="mode" value="playlistID" onclick="playlistIDModeSelected()"> Paste Spotify playlist's ID
<input id="spotifyUser" type="radio" name="mode" value="spotifyUser" onclick="spotifyUserModeSelected()"> Select playlists from Spotify user profile<br>
<br />
<div id="formDiv">
    <div id="playlistForm" style="display:none">
        Playlist ID:<br>
        <input id="playlistIDInput" type="text" name="playlistIDInput" size="200" value="">
    </div>
    <div id="spotifyUserForm" style="display:none">
        Spotify user name:<br>
        <input id="spotifyUserInput" type="text" name="spotifyUserInput" size="100" value="">
        <button type="button" onclick="getPlaylists()">Get Playlists</button>
        <br />
        <br />
    </div>
</div>

<script>
    window.onload = function () {
        onLoadFunction();
    };

    function onLoadFunction() {
        $("#playlistID").prop("checked", false);
        $("#spotifyUser").prop("checked", false);
    }

    function playlistIDModeSelected() {
        $('#playlistForm').show();
        $('#spotifyUserForm').hide();
        $('#spotifyUserInput').val('');
    }

    function spotifyUserModeSelected() {
        $('#playlistForm').hide();
        $('#spotifyUserForm').show();
        $('#playlistIDInput').val('');
    }

    function getPlaylists() {
        var spotifyUserName = $('#spotifyUserInput').val();
        if (spotifyUserName.length <= 0) {
            alert('Please add a Spotify User name!')
        }
        else {
            $.ajax({
                url: '@Url.Action("GetUserPlaylists")',
                data: { 'userId': spotifyUserName },
                type: "post",
                cache: false,
                success: function (playlists) {
                    var usersPlaylists = playlists;
                    for (i = 0; i < usersPlaylists.length; i++) {
                        var src = "https://embed.spotify.com/?uri=" + usersPlaylists[i].uri;
                        var playlistElement = "<div>" + "<p>" + usersPlaylists[i].name + "</p>" +
                                                "<p>" + usersPlaylists[i].uri + "</p>" +
                                                '<iframe src=' + "\"" +  src + "\"" + 'width="300" height="380" frameborder="0" allowtransparency="true"></iframe>' +
                                                "</div>";
                        $("#spotifyUserForm").append(playlistElement);
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    $('#lblCommentsNotification').text("Error encountered while saving the comments.");
                }
            });
        }
    }
</script>