@{
    ViewData["Title"] = "MaiXIFY";
}
<h1 align="center"></h1>
<h2>
    Hey, welcome to MaiXIFY!<br /><br />
    Just select some Spotify playlist below, and enjoy your new mixed playlist!
</h2>
<br />
<div id="divForMaiXIFYButtonAndSettings" style="display:none">
    <button type="button" class="btn btn-lg btn-default" onclick="MaiXIFY()">MaiXIFY it!</button>
    <br>
    <table>
        <tr>
            <th style="padding:0 15px 0 15px;"><b>MaiXIFY ALGORITHM SETTINGS: </b></th>
            <th style="padding:0 15px 0 15px;">Threshold:</th>
            <th style="padding:0 15px 0 15px;"><input id="thresholdRange" name="thresholdRange" type="range" min="0" max="100" onchange="updateRangeValueInput(this.value);"></th>
            <th style="padding:0 15px 0 15px;"><output id="thersholdLabel" name="thersholdLabel" value="50" text="50">50</output></th>
            <th style="padding:0 15px 0 15px;"><input id="isRecommendedMusicSet" type="checkbox" name="isRecommendedMusicSet" value="RecommendedMusic">Recommended Music</th>
            <th style="padding:0 15px 0 15px;">Sort options:</th>
            <th style="padding:0 15px 0 15px;">
                <select id="sortOptionDropdownList" name="sortOptionDropdownList">
                    <option value="MostHit">Most Hit</option>
                    <option value="Popularity">Popularity</option>
                    <option value="Random">Random</option>
                </select>
            </th>
        </tr>
        <tr>
            <th style="padding:0 15px 0 15px;"><b>MaiXIFY SETTINGS: </b></th>
            <th style="padding:0 15px 0 15px;">Mixed playlist's name: </th>
            <th style="padding:0 15px 0 15px;"><input id="mixedPlaylistName" type="text" name="mixedPlaylistName" size="25" value=""></th>
            <th style="padding:0 15px 0 15px;"><input id="isPublic" type="checkbox" name="isPublic" value="Public" checked>Public playlist</th>
            <th style="padding:0 15px 0 15px;"><input id="isCollaborative" type="checkbox" name="isCollaborative" value="Collaborative">Collaborative</th>
            <th></th>
            <th></th>
        </tr>
    </table>
</div>
<br />
<div id="divForSelectedPlaylists" style="display:none"><h3>Selected playlists:</h3><br /></div>
<div id="formDiv">
    <div id="divForSelectedPlaylists" style="display:none"></div>
    <div id="playlistForm" style="display:inline-block">
        <div id="playlistFormDiv" style="display:block">
            Copy a Spotify playlist URL here:<br />
            <input id="playlistIdInput" type="text" name="playlistIdInput" size="200" value="">
            <button type="button" class="btn btn-sm btn-primary" onclick="getPlaylistByURL()">Get playlist</button>
            <br />
            <br />
        </div>
        <div id="divForSinglePlaylist" name="divForSinglePlaylist" style="display:none"></div>
    </div>
    <hr>
    <div id="spotifyUserForm">
        Or just give a Spotify user name:<br />
        <input id="spotifyUserInput" type="text" name="spotifyUserInput" size="100" value="">
        <button type="button" class="btn btn-sm btn-primary" onclick="getPlaylists()">Get user playlists</button>
        <br />
        <br />
    </div>
</div>
<script src="/js/handlebars-v4.0.5.js"></script>
<script>

    var selectedPlaylists = new Array();
    var usersPlaylists = new Array();
    var queriedPlaylistFromUrl;

    function updateRangeValueInput(thresholdValue) {
        document.getElementById('thersholdLabel').value = thresholdValue;
    }

    function MaiXIFY() {
        if (selectedPlaylists.length <= 1) {
            alert("Please select more than one playlist!");
            return;
        }
        else {
            var SelectedPlaylistElem = new Array();
            for (i = 0; i < selectedPlaylists.length; i++) {
                var playlistToUploadItem = { userId: "", playlistId: "" };
                playlistToUploadItem.userId = selectedPlaylists[i].userId;
                playlistToUploadItem.playlistId = selectedPlaylists[i].playlistId;
                SelectedPlaylistElem.push(playlistToUploadItem);
            }
            var playlistName = $('#mixedPlaylistName').val();
            var isPublic = $('#isPublic').val();
            var isCollaborative = $('#isCollaborative').val();

            if (playlistName.length <= 0) {
                alert('Please define a name for your playlist!');
                return;
            }

            var thresholdValue = document.getElementById('thresholdRange').value;
            var recommendedMusic = $('#isRecommendedMusicSet').val();

            var e = document.getElementById("sortOptionDropdownList");
            var sortOption = e.options[e.selectedIndex].value;

            var d = new Date();
            d.setTime(d.getTime() + (365 * 24 * 60 * 60 * 1000));
            var expires = "expires=" + d.toUTCString();
            document.cookie = "thresholdSetting" + "=" + thresholdValue + ";" + "recommendedMusicSetting" + "=" + recommendedMusic + ";" + "sortOptionSetting" + "=" + sortOption + ";" + expires + ";path=/";

            SelectedPlaylistElem = JSON.stringify({ 'SelectedPlaylistElem': SelectedPlaylistElem });

            var url = "/Home/GeneratePlaylist?selectedPlaylists=" + SelectedPlaylistElem + "&" + "playlistName=" + playlistName + "&" + "isPublic=" + isPublic + "&" + "isCollaborative=" + isCollaborative;
            window.location.href = url;

        }

    }


    function isTheSelectedPlaylistsListEmpty() {
        if (selectedPlaylists.length == 0) {
            return true;
        }
        else {
            return false;
        }

    }


    function selectUserPlaylist(playlisId) {
        var id;
        var playlist = { userId: "", playlistId: "", uri: "", name: "" };
        for (i = 0; i < usersPlaylists.length; i++) {
            if (usersPlaylists[i].id == playlisId) {
                id = i;
            }
        }
        playlist.userId = usersPlaylists[id].owner.id;
        playlist.playlistId = usersPlaylists[id].id;
        playlist.uri = usersPlaylists[id].uri;
        playlist.name = usersPlaylists[id].name;
        if (selectedPlaylistContainsPlaylist(playlist.playlistId) == false) {
            selectedPlaylists.push(playlist);
            document.getElementById(playlist.name).innerHTML = "Remove";
            document.getElementById(playlist.name).className = "btn btn-sm btn-danger";
        }
        else {
            for (i = 0; i < selectedPlaylists.length; i++) {
                if (selectedPlaylists[i].playlistId == playlisId) {
                    selectedPlaylists.splice(i, 1);
                    document.getElementById(playlist.name).innerHTML = "Add";
                    document.getElementById(playlist.name).className = "btn btn-sm btn-primary";
                }
            }
        }
        document.getElementById("divForSinglePlaylist").style.display = "none";
        $("#divForSinglePlaylistFromUrl").remove();
        displayPlaylists();
    }


    function displayPlaylists() {
        if (!(isTheSelectedPlaylistsListEmpty())) {
            if (document.getElementById("divForPlaylistsFromSelectedList")) {
                $("#divForPlaylistsFromSelectedList").remove();
            }
            var divForPlaylistsFromSelectedList = '<div id=' + "\"" + "divForPlaylistsFromSelectedList" + "\"" + "style=" + "\"" + "display:inline-block" + "\"" + ">";
            $("#divForSelectedPlaylists").append(divForPlaylistsFromSelectedList);
            document.getElementById("divForMaiXIFYButtonAndSettings").style.display = "inline-block";
            document.getElementById("divForSelectedPlaylists").style.display = "inline-block";
            document.getElementById("divForSelectedPlaylists").style.overflowX = "auto";
            document.getElementById("divForSelectedPlaylists").style.whiteSpace = "nowrap";
            document.getElementById("divForSelectedPlaylists").style.width = "1000px";
            for (i = 0; i < selectedPlaylists.length; i++) {
                var playlistIdParameter = selectedPlaylists[i].playlistId;
                var src = "https://embed.spotify.com/?uri=" + selectedPlaylists[i].uri;
                var playlistElement = '<div ' + 'id=' + "\"" + "divForUserSelectedPlaylists" + "\"" + "style=" + "\"" + "display:inline-block; width: 350px; height: 500px;" + "\"" + ">" + "<p>" + '<button type=' + "\"" + "button" + "\"" + 'id=' + "\"" + "removeFromSelectedPlaylistsButton" + "\"" + "class=" + "\"" + "btn btn-sm btn-danger" + "\"" + " onclick=" + "\"" + "removeFromFromSelectedPlaylists(" + '\'' + playlistIdParameter + '\'' + ")" + "\"" + '>Remove</button>' + "<b>" + "  " + selectedPlaylists[i].name + "</b>" + "</p>"
                                        + '<iframe src=' + "\"" + src + "\"" + 'width="300" height="380" frameborder="0" allowtransparency="true" ></iframe>' +
                                        "</div>";
                $("#divForPlaylistsFromSelectedList").append(playlistElement);
            }
        }
        else {
            if (document.getElementById("divForPlaylistsFromSelectedList")) {
                $("#divForPlaylistsFromSelectedList").remove();
            }
            document.getElementById("divForSelectedPlaylists").style.display = "none";
            document.getElementById("divForMaiXIFYButtonAndSettings").style.display = "none";
        }
    }


    function removeFromFromSelectedPlaylists(playlistId) {
        for (i = 0; i < selectedPlaylists.length; i++) {
            if (selectedPlaylists[i].playlistId == playlistId) {
                selectedPlaylists.splice(i, 1);
                document.getElementById("divForSinglePlaylist").style.display = "none";
                $("#divForSinglePlaylistFromUrl").remove();
                break;
            }
        }
        for (i = 0; i < usersPlaylists.length; i++) {
            if (usersPlaylists[i].id == playlistId) {
                document.getElementById(usersPlaylists[i].name).innerHTML = "Add";
                document.getElementById(usersPlaylists[i].name).className = "btn btn-sm btn-primary";
                break;
            }
        }
        displayPlaylists();
    }


    function selectedPlaylistContainsPlaylist(id) {
        var contains = false;
        for (var i = 0; i < selectedPlaylists.length; i++) {
            if (selectedPlaylists[i].playlistId == id) {
                contains = true;
                break;
            }
        }
        return contains;
    }

    function selectPlaylistFromUrl() {
        var playlist = { userId: "", playlistId: "", uri: "", name: "" };
        playlist.userId = queriedPlaylistFromUrl.owner.id;
        playlist.playlistId = queriedPlaylistFromUrl.id;
        playlist.uri = queriedPlaylistFromUrl.uri;
        playlist.name = queriedPlaylistFromUrl.name;
        selectedPlaylists.push(playlist);
        document.getElementById("divForSinglePlaylist").style.display = "none";
        $("#divForSinglePlaylistFromUrl").remove();
        if (usersPlaylists != null) {
            for (i = 0; i < usersPlaylists.length; i++) {
                if (usersPlaylists[i].id == playlist.playlistId) {
                    document.getElementById(usersPlaylists[i].name).innerHTML = "Remove";
                    document.getElementById(usersPlaylists[i].name).className = "btn btn-sm btn-danger";
                    break;
                }
            }
        }
        displayPlaylists();
    }
    function finishAdding() {
        $('#divForPlaylists').remove();

    }


    function isPlaylistAlreadySelected(userId, playlistId) {
        var contains = false;
        for (var i = 0; i < selectedPlaylists.length; i++) {
            if (selectedPlaylists[i].playlistId == playlistId && selectedPlaylists[i].userId == userId) {
                contains = true;
                break;
            }
        }
        return contains;
    }

    function getPlaylistByURL() {
        var URL = $('#playlistIdInput').val();
        $('#playlistIdInput').val('');

        if (!($("#divForSinglePlaylist").length === 0)) {
            $("#divForSinglePlaylistFromUrl").remove();
        }

        var playlistPosition = URL.search("/playlist/");
        var playlistPartOfTheURL = URL.slice(playlistPosition, URL.length);
        var playlistId = URL.slice(playlistPosition + 10, URL.length);
        var userId = URL.slice(URL.search("/user/") + 6, playlistPosition);
        var userCountInURL = (URL.match(/\/user\//g) || []).length;
        var playlistCountInURL = (URL.match(/\/playlist\//g) || []).length;

        if (!(URL.startsWith("https://open.spotify.com/user/") || URL.startsWith("https://play.spotify.com/user/")) || playlistId.length != 22 || userCountInURL != 1 || playlistCountInURL != 1 || userId.length <= 0) {
            alert('This is not a Spotify playlist URL!');
        }
        else {
            $.ajax({
                url: '@Url.Action("GetPlaylist")',
                data: { 'userId': userId, 'playlistId': playlistId },
                type: "post",
                cache: false,
                success: function (playlist) {
                    queriedPlaylistFromUrl = playlist;
                    if (queriedPlaylistFromUrl.hasOwnProperty('errorCode') && queriedPlaylistFromUrl.errorCode == 404) {
                        alert('No such Spotify playlist!')
                        return;
                    }

                    if (isPlaylistAlreadySelected(userId, playlistId)) {
                        alert('This playlist is already selected! Please select a different playlist or remove the playlist from your selected playlists!');
                        return;
                    }

                    document.getElementById("divForSinglePlaylist").style.display = "inline-block";
                    var src = "https://embed.spotify.com/?uri=" + queriedPlaylistFromUrl.uri;
                    var playlistElement = '<div ' + 'id=' + "\"" + "divForSinglePlaylistFromUrl" + "\"" + "style=" + "\"" + "display:inline-block; width: auto; height: auto;" + "\"" + ">" + "<p>" + '<button type=' + "\"" + "button" + "\"" + 'id=' + "\"" + "addPlaylistFromUrlButton" + "\"" + "class=" + "\"" + "btn btn-sm btn-primary" + "\"" + " onclick=" + "\"" + "selectPlaylistFromUrl()" + "\"" + '>Add</button>' + "<b>" + "  " + queriedPlaylistFromUrl.name + "</b>" + "</p>"
                                            + '<iframe src=' + "\"" + src + "\"" + 'width="300" height="380" frameborder="0" allowtransparency="true" ></iframe>' +
                                            "</div>";
                    $("#divForSinglePlaylist").append(playlistElement);

                }
            });
        }
    }


    function getPlaylists() {
        var spotifyUserName = $('#spotifyUserInput').val();
        $('#spotifyUserInput').val('');
        $('#divForPlaylists').remove();
        if (spotifyUserName.length <= 0) {
            alert('Please add a Spotify username!')
        }
        else {
            $.ajax({
                url: '@Url.Action("GetUserPlaylists")',
                data: { 'userId': spotifyUserName },
                type: "post",
                cache: false,
                success: function (playlists) {
                    usersPlaylists = playlists;
                    if (usersPlaylists.hasOwnProperty('errorCode') && (usersPlaylists.errorCode == 404 || usersPlaylists.errorCode == 503)) {
                        alert('No such Spotify user!')
                        return;
                    }

                    var divForPlaylists = '<div id=' + "\"" + "divForPlaylists" + "\"" + "style=" + "\"" + "display:inline-block" + "\"" + ">" + '<button type=' + "\"" + "button" + "\"" + "style=" + "\"" + "display:block" + "\"" + 'id=' + "finishAddingUsersPlaylistsButton" + "\"" + " class=" + "\"" + "btn btn-sm btn-default" + "\"" + " onclick=" + "\"" + "finishAdding()" + "\"" + '>Rid of them, and give a new Spotify user</button><br>';
                    $("#spotifyUserForm").append(divForPlaylists);
                    for (i = 0; i < usersPlaylists.length; i++) {
                        var src = "https://embed.spotify.com/?uri=" + usersPlaylists[i].uri;
                        var playlistElement = '<div ' + 'id=' + "\"" + "divForSinglePlaylists" + "\"" + "style=" + "\"" + "display:inline-block; width: 350px; height: 500px;" + "\"" + ">" + "<p>" + '<button type=' + "\"" + "button" + "\"" + 'id=' + "\"" + usersPlaylists[i].name + "\"" + "class=" + "\"" + "btn btn-sm btn-primary" + "\"" + " onclick=" + "\"" + "selectUserPlaylist(" + '\'' + usersPlaylists[i].id + '\'' + ")" + "\"" + '>Add</button>' + "<b>" + "  " + usersPlaylists[i].name + "</b>" + "</p>"
                                                + '<iframe src=' + "\"" + src + "\"" + 'width="300" height="380" frameborder="0" allowtransparency="true" id=' + "\"" + i + "\"" + ' onclick=' + "\"" + "selectUserPlaylist(id)" + "\"" + ' ></iframe>' +
                                                "</div>";
                        $("#divForPlaylists").append(playlistElement);
                        if (selectedPlaylistContainsPlaylist(usersPlaylists[i].id)) {
                            document.getElementById(usersPlaylists[i].name).innerHTML = "Remove";
                            document.getElementById(usersPlaylists[i].name).className = "btn btn-sm btn-danger";
                        }
                    }
                }
            });
        }
    }
</script>
