@model MaiXIFY.SpotifyWebAPIWrapper.SpotifyObjectModel.SpotifyPlaylist

@{
    ViewData["Title"] = "MaiXIFY";
}

<h2>
    Here is your mixed playlist!<br /><br />
</h2>
<br />
<div id="divForPlaylist">
    <div style="text-align: center">
        <b>@Model.Name</b><br />
        <iframe src="https://embed.spotify.com/?uri=@Model.Uri" width="300" height="380" frameborder="0" allowtransparency="true"></iframe><br>
        <button type="button" class="btn btn-sm btn-default" onclick="redirectToIndex()">Back to create another playlist</button>
        <button type="button" class="btn btn-sm btn-primary" onclick="redirectToSpotify()">Open this playlist at Spotify</button>
    </div>
</div>
<script type="text/javascript">
    function redirectToSpotify() {
        document.location.href = "https://open.spotify.com/user/" + '@Model.OwnerUser.Id' + "/playlist/" + '@Model.Id'
    }

    function redirectToIndex() {
        document.location.href = "@Url.Action("Index", "Home")";
    }
</script>

